@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about <a <a asp-controller="Acceso" asp-action="Login">
    Ir a Login  
    </a></a>.
    
    

<p>
     
    </p>
</div>
