@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Reportes";
}
<h2>Reportes</h2>
<div class="list-group">
    <a asp-controller="Salaries" asp-action="Index" class="list-group-item list-group-item-action">Reporte de Salarios</a>
    <a asp-controller="Departaments" asp-action="Index" class="list-group-item list-group-item-action">Reporte de Departamentos</a>
    <a asp-controller="Employees" asp-action="Index" class="list-group-item list-group-item-action">Reporte de Empleados</a>
    </div>


