@{
    ViewData["Title"] = "Salarios";
}

<h2>Salarios</h2>

<form asp-controller="Salaries" asp-action="Calcular" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label>Salario base</label>
        <input type="number" name="salaryBase" class="form-control" value="520" />
    </div>

    <div class="mb-3">
        <label>Prima</label>
        <input type="number" name="prima" class="form-control" value="1" />
    </div>

    <button type="submit" class="btn btn-danger">
        Calcular
    </button>

    <a asp-controller="Salaries" asp-action="AuditoriadeSalarios"
       class="btn btn-danger ms-2">
        Auditoría de Salarios
    </a>

</form>