@model app.Models.Departments

<h2>Create Department</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label class="form-label">Nombre del departamento</label>
        <input asp-for="dept_name" class="form-control" />
        <span asp-validation-for="dept_name" class="text-danger"></span>
    </div>

    <button class="btn btn-success" type="submit">Guardar</button>
    <a class="btn btn-secondary" asp-action="DepartamentosLista">Volver</a>
</form>
