@model List<app.Models.Departments>

<h2>Departamentos</h2>

<a class="btn btn-primary" asp-controller="Departaments" asp-action="Create">
    Create Department
</a>

<hr />

<div class="d-grid gap-2" style="max-width:340px">
    <a class="btn btn-primary" asp-controller="Departaments" asp-action="GerentedeDepartamento">Gerente De Departamento</a>
    <a class="btn btn-primary" asp-controller="Departaments" asp-action="DepartamentosLista">Lista de Departamentos</a>
    <a class="btn btn-primary" asp-controller="Departaments" asp-action="DepartamentosFormulario">Formulario de Departamentos</a>
    <a class="btn btn-primary" asp-controller="Departaments" asp-action="AsignacionDepartamento">Asignacion de Departamentos</a>
</div>

<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>dept_no</th>
            <th>dept_name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.dept_no</td>
                <td>@d.dept_name</td>
            </tr>
        }
    </tbody>
</table>