@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Gerende de Departamentos";
}
<h2>Gerente de Departamentos</h2>